*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: bisque;
    height: max-content;
}
#ci1{
    width: 160px;
    height: 50px;
    margin-top: 15px;
}
header{
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #49c149;
    text-align: center;
}
.cc1{
    display: inline-block;
    width: 400px;
    height: 320px;
    margin: 30px;
    padding: 10px;
    font-size: 25px;
    border: solid #49c149;
    border-radius: 8px;
}
h1{
    color: white;
    font-size: 40px;
}
h3{
    font-weight: bold;
    color: #1b3c53;
    font-size: 28px;
}
.cc2{
    display: inline-block;
    margin-left: 30px;
    padding-left: 70px;
    width: 600px;
}
.cc4{
    text-align: center;
}
button{
    background: linear-gradient(135deg,#ff512f,#dd2476);
    padding: 12px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}
